# GitHub Fine-grained Personal Access Token
# 需要对目标仓库拥有 Contents: Read and write 权限
MD2WECHAT_GITHUB_TOKEN=github_pat_xxxxxxxxxxxxxxxxxxxx

# GitHub 用户名或组织名
MD2WECHAT_GITHUB_OWNER=your-github-name

# 用来存图片的公开仓库名
MD2WECHAT_GITHUB_REPO=md2wechat-assets

# 仓库分支
MD2WECHAT_GITHUB_BRANCH=main

# 上传目录前缀
MD2WECHAT_GITHUB_PATH_PREFIX=uploads

# 图片访问域名
# 你如果想走 fastly.jsdelivr.net，就填下面这个
MD2WECHAT_CDN_HOST=https://fastly.jsdelivr.net
